## Importing Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Data Collection

In [2]:
# Loading the data into pandas dataFrame
email_data = pd.read_csv('data.csv')

In [3]:
email_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
print(email_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
# Replace the null values with null string
mail_data = email_data.where((pd.notnull(email_data)),'')

In [6]:
# Printing the first five rows of the dataFrame
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
# Checking the no of rows and columns of the dataset
mail_data.shape

(5572, 2)

## Label Encoding

In [8]:
# Lable spam mail-> 0; ham mail->1
mail_data.replace({'Category':{'spam':0,'ham':1}},inplace = True)

In [9]:
mail_data['Category']

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

* Spam->0
* ham->1

## Separating the data as text and Labels

In [10]:
X = mail_data['Message']

In [11]:
Y = mail_data['Category']

In [12]:
print(X,Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object 0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

## Splitting the data into training data and Test Data

In [13]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=3)

In [14]:
print(X.shape,X_train.shape,X_test.shape)

(5572,) (4457,) (1115,)

## Feature Extraction

In [15]:
# Transform the text data to feature vectors that can be used as input to the Logistic Regression
feature_extraction = TfidfVectorizer(min_df = 1,stop_words = 'english',lowercase='True')
X_train_feature = feature_extraction.fit_transform(X_train)
X_test_feature = feature_extraction.transform(X_test)

# Convert Y_train and Y_test Values as Integer

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [16]:
X_train_feature.shape

(4457, 7431)

## Training the Machine Learning Model

* Using Logistic Regression Model

In [19]:
model = LogisticRegression()

In [21]:
# Training the Logistic Regression Model with the Training Data
model.fit(X_train_feature,Y_train)

LogisticRegression()

## Model Evaluation

In [23]:
# Prediction on Training Data
prediction_on_training_data = model.predict(X_train_feature)
training_data_accuracy = accuracy_score(prediction_on_training_data,Y_train)
print('Training Data Accuracy: ',training_data_accuracy)

Training Data Accuracy:  0.9670181736594121

In [24]:
# Prediction on Testing Data
prediction_on_Testing_data = model.predict(X_test_feature)
testing_data_accuracy = accuracy_score(prediction_on_Testing_data,Y_test)
print('Training Data Accuracy: ',testing_data_accuracy)

Training Data Accuracy:  0.9659192825112107

## Making  A Predictive System

In [27]:
input = ["XXXMobileMovieClub: To use your credit, click the WAP link in the next txt message or click here>> http://wap. xxxmobilemovieclub.com?n=QJKGIGHJJGCBL"]

# Covert The text into feature Vector
input_data_features = feature_extraction.transform(input)

# Making Prediction
prediction = model.predict(input_data_features)

print(prediction)
if(prediction[0]==1):
    print('The Mail is Ham Mail')
else:
    print('The Mail is Spam Mail')

[0]
The Mail is Spam Mail